// Fib #Fib (action: (Fib.Act)) : (Kindelia.IO (Apps.Fib.State))
fun (Fib2 action) {
  (Fib2 {Fib_Act_next code}) = {TAKE @x let y = (Fib_st_upd x code #0); dup _0 _1 = y; {SAVE _0 @~ {DONE _1}}}
} with {
  (Fib_st_init)
}